/* 广告栏 */
.banner{
    position: relative;
    width: 1920px;
    height: 300px;
    margin: auto;
    background: url(../images/css/img/original.jpg) ;
    text-align: center;
    .count-down{
        position: absolute;
        top: 80px;
        right: 650px;
        color: white;
        p{
            margin-bottom: 10px;
            span{
                background-color: #F6D299;
            }
        }
        .time{
            
        }
        .apply-for{
            a{
                display: inline-block;
                padding: 20px 50px;
                color: #fff;
                background-color: #FE5341;
                border-radius: 5px;
                
            }
        }
    } 
}

.lbt-title{
    padding: 10px 0;
}

.lbt{
    width: 1200px;
    margin: auto;
    text-align: center;
    .lbt-btnleft{
        float: left;
        margin-top: 35px;
    }
    .lbt-main{
        float: left;
        li{
            margin-left: 10px;
            float: left;
            img{
                width: 270px;
            }
            p{
                margin-top: 10px;
            }
            .p-red{
                span{
                    color: #FE544B;
                    padding: 5px;
                    border: 1px solid #FE544B;
                    border-radius: 5px;
                    margin-right: 10px;
                }
            }
            .p-red2{
                font-size: 20px;
                span{
                    color: #FE544B;
                }
            }
            .p-red3{
                span{
                     color: #FE544B;
                }
            }
            .p-green{
                span{
                color: greenyellow;
                padding: 5px;
                border: 1px solid greenyellow;
                border-radius: 5px;
                margin-right: 10px;
            }
            .p-green1{
                span{
                    color: greenyellow;
                }
            }
        }
        }
    }
    .lbt-btn-right{
        float: left;
        margin-top: 35px;
        margin-left: 5px;
    }
}