*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1200px;
    margin: auto;
}
/* 头部样式 */
.nav{
    overflow: hidden;
    .logo{
        float: left;
        width: 266px;
        height: 104px;
    }
    .list{
        float: left;
        li{
            float: left;
            margin-left: 60px;
            line-height: 104px;
            font-size: 20px;
            a{
                color: #3D464B;
            &:hover{
                color: #FE6541;
            }
            }
        }
    }
    .register{
        float: right;
        img{
            vertical-align: middle;
        }
        a{  
            display: inline-block;
            width: 60px;
            height: 40px;
            margin-top: 30px;
            text-align: center;
            line-height: 40px;
            background-color: white;
            border:1px solid #FE6541;
            color: #FE6541;
            outline: none;
            margin-left: 20px;
            border-radius: 5px;
        }
    }
    
}


/* 尾部样式 */

footer{
    width: 100vw;
    height: 320px;
    padding: 50px 0;
    background-color: #505050;
    .footer{
        overflow: hidden;
        .code{
            float: left;
        }
        .logo2{
            float: left;
            margin-left: 20px;
            p{
                color: #969C90;
                margin-top: 10px;
            }
        }
        .ftr-list{
            float: left;
            dl{
                float: left;
                margin-left: 50px;
                dt{
                    color: #fff;
                    margin-bottom: 30px;
                }
                dd{
                  
                    margin-bottom: 5px;
                    a{
                        color: #969C90;
                    }
                }
            }
        }
    }
    .copyright{
    text-align: center;
    margin-top: 80px;
    color: #969C90;
    }
}